.img_loading{
    max-width: 1250px;
    height: 100%;
    padding:20% 50%;
    // margin: auto;
    // background-color: yellow;
    // img{
    //     margin: auto;
    //     color: white;
    // }
}